<!-- <footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consequatur, consequuntur deserunt
          dignissimos doloribus et impedit nesciunt odio perspiciatis praesentium quo temporibus veniam veritatis. Eius
          quo, reprehenderit! Aliquid, in, voluptate.
        </p>
      </div>
      <div class="col-12 col-md-4">
        <p class="text-right footer-links">
          <a href="#">Terms of use</a>
          <a href="#">Privacy policy</a>
        </p>
        <p class="text-right">
          &copy; 2018 All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer> -->