/**
 * Common styles for basic HTML elements
 * @author: Ashiqur Rahman
 * @author_url: https://ashiqur.com
 */

html, body, app-root {
  min-height: 100vh;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8em;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

[_nghost-c1] {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  &.page-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: map-get($colors, primary);
    color: map-get($colors, light);

    a {
      color: map-get($colors, light);
    }
  }
}

main {
  &.page-main-content {
    flex-grow: 1;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;

    aside {
      &.sidebar {
        nav {
          &.sidebar-nav {
            a {
              padding-left: 0;
              color: map-get($colors, dark);
            }
          }
        }
      }
    }
  }
}

footer {
  &.page-footer {
    padding-top: 2rem;
    padding-bottom: 1rem;
    background: map-get($colors, light);

    .footer-links {
      a {
        margin-left: 0.5rem;
        margin-right: 0.5rem;

        &:last-child {
          margin-right: 0
        }
      }
    }
  }
}


.submitted .invalid-feedback {
  display: block;
}