/**
 * This is the file to hold variables that will override bootstrap and can be used in other components
 */

$primary: rgba(43, 209, 165, 1);
$secondary: rgba(63, 68, 72, 1);
$success: rgb(29, 159, 80);
$info: rgba(137, 215, 244, 1);
$warning: rgba(255, 238, 126, 1);
$danger: rgba(217, 62, 42, 1);
$light: rgba(240, 245, 245, 1);
$dark: rgba(40, 40, 40, 1);

$colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  dark: $dark
);
