<main class="container-fluid page-main-content">
  <div class="row align-items-stretch">
    <app-sidebar></app-sidebar>
    <div class="col-12 col-md-8 col-lg-10">
      <h1 class="title">
        Auctions
      </h1>
      <div class="table-responsive">
        <table class="table table-hover table-striped table-dark">
          <thead>
            <tr>
              <th>Projects</th>
              <th>Project total tokens</th>
              <th>Your tokens</th>
              <th class="actions">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr colspan="6" *ngIf="projects === null">
              <app-loading [visible]="projects === null"></app-loading>
            </tr>

            <tr *ngFor="let project of projects">
              <td>
                {{ project[0].name }}
              </td>
              <td>
                {{ (project[0].project_value|| 0) |number: "1.2-2"}} <i class="fas fa-fw fa-coins"></i>
              </td>
              <td>
                {{ (project.my_contribution|| 0) |number: "1.2-2"}} <i class="fas fa-fw fa-coins"></i>
              </td>
              <td class="actions">
                <a [routerLink]="['/auctions/project', project.id]" class="btn btn-sm btn-warning">
                  <i class="fas fa-fw fa-eye"></i> View
                </a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <!-- <nav aria-label="Projects navigation">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">
                <i class="fas fa-fw fa-caret-left"></i>
              </span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item disabled"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">
                <i class="fas fa-fw fa-caret-right"></i>
              </span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav> -->
    </div>
  </div>
</main>