###> symfony/framework-bundle ###
*.cache
*.iml
/.env
.env.test
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem*
###< lexik/jwt-authentication-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
tests/*/.phpunit.result.cache
bootstrap.php
###< phpunit/phpunit ###

###>intellij config files ###
.idea/
*.iml
###<intellij config###
