<header class="container-fluid page-header">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">
          {{title}}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-navigation"
          aria-controls="header-navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="header-navigation">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Log out</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>

<main class="container-fluid page-main-content">
  <div class="row align-items-stretch">
    <app-sidebar></app-sidebar>
    <div class="col-12 col-md-8 col-lg-10">
      <h1 class="title">
        Project auction
      </h1>

      <ul class="nav nav-tabs" id="auction-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link" [class.active]="selectedTab == 1" id="contribution-hstory-tab" data-toggle="tab"
            data-target="#contribution-history" role="tab" aria-controls="contribution-history" aria-selected="true"
            target="_self" (click)="selectedTab = 1;">Contribution
            history</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="selectedTab == 2" id="selling-offers-tab" data-toggle="tab" data-target="#selling-offers"
            role="tab" aria-controls="selling-offers" aria-selected="false" target="_self" (click)="selectedTab = 2;">Selling
            offers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="selectedTab == 3" id="buying-offers-tab" data-toggle="tab" data-target="#buying-offers"
            role="tab" aria-controls="buying-offers" aria-selected="false" target="_self" (click)="selectedTab = 3;">Buying
            offers</a>
        </li>
      </ul>
      <div class="tab-content" id="auction-tab-content">
        <div class="tab-pane fade" [class.show]="selectedTab == 1" [class.active]="selectedTab == 1" id="contribution-history"
          role="tabpanel" aria-labelledby="contribution-history-tab">
          <h3>Contributions</h3>
          <div class="table-responsive">
            <table class="table table-hover table-striped table-dark">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Type</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9]">
                  <td>
                    03/09/2018
                  </td>
                  <td>
                    Contribution / Trading
                  </td>
                  <td>
                    45 <i class="fas fa-fw fa-coins"></i>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th colspan="2" class="text-right">
                    Total
                  </th>
                  <th>
                    450 <i class="fas fa-fw fa-coins"></i>
                  </th>
                </tr>
              </tfoot>
            </table>

          </div>
          <nav aria-label="Projects navigation">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">
                    <i class="fas fa-fw fa-caret-left"></i>
                  </span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item disabled"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">
                    <i class="fas fa-fw fa-caret-right"></i>
                  </span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="tab-pane fade" [class.show]="selectedTab == 2" [class.active]="selectedTab == 2" id="selling-offers"
          role="tabpanel" aria-labelledby="selling-offers-tab">
          <h3>Selling offers</h3>
          <div class="table-responsive">
            <table class="table table-hover table-striped table-dark">
              <thead>
                <tr>
                  <th>User</th>
                  <th>Token offered</th>
                  <th>Date</th>
                  <th>Price/token</th>
                  <th>Expire</th>
                  <th class="actions">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="currentSales === null">
                  <app-loading></app-loading>
                </tr>
                <tr *ngFor="let sale of currentSales">
                  <td>
                    <a href="https://github.com/{{ sale.seller?.username }}">
                      @{{ sale.seller?.username }}
                    </a>
                  </td>
                  <td>
                    {{ sale.number_of_tokens }} <i class="fas fa-fw fa-coins"></i>
                  </td>
                  <td>
                    {{ sale.offer_starts_utc_date }}
                  </td>
                  <td>
                    {{ sale.sell_price_per_token }} <i class="fas fa-fw fa-coins"></i>
                  </td>
                  <td>
                    {{ sale.offer_expires_at_utc_date }}
                  </td>
                  <td class="actions">
                    <a class="btn btn-dark" data-toggle="modal" data-target="#buy-modal" aria-controls="buy-modal">
                      <i class="fas fa-fw fa-shopping-cart"></i> Buy
                    </a>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th colspan="5" class="text-right">

                  </th>
                  <th>
                    <a class="btn btn-dark" data-toggle="modal" data-target="#new-offer-modal" aria-controls="new-offer-modal">
                      <i class="fas fa-fw fa-gavel"></i> New offer
                    </a>
                  </th>
                </tr>
              </tfoot>
            </table>

          </div>
          <nav aria-label="Projects navigation">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">
                    <i class="fas fa-fw fa-caret-left"></i>
                  </span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item disabled"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">
                    <i class="fas fa-fw fa-caret-right"></i>
                  </span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="tab-pane fade" [class.show]="selectedTab == 3" [class.active]="selectedTab == 3" id="buying-offers"
          role="tabpanel" aria-labelledby="buying-offers-tab">
          <h3>Buying offers</h3>
          <div class="table-responsive">
            <table class="table table-hover table-striped table-dark">
              <thead>
                <tr>
                  <th>User</th>
                  <th>Proposed amount / token</th>
                  <th>Date</th>
                  <th>Expire</th>
                  <th class="actions">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9]">
                  <td>
                    <a href="https://github.com/username">
                      @gitusername
                    </a>
                  </td>
                  <td>
                    20 <i class="fas fa-fw fa-coins"></i>
                  </td>
                  <td>
                    05/09/2018
                  </td>
                  <td>
                    05/10/2018
                  </td>
                  <td class="actions">
                    <a class="btn btn-dark" data-toggle="modal" data-target="#new-offer-modal" aria-controls="new-offer-modal">
                      <i class="fas fa-fw fa-coins"></i> Sell to this price
                    </a>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th colspan="4" class="text-right">

                  </th>
                  <th>
                    <a class="btn btn-dark" data-toggle="modal" data-target="#new-offer-modal" aria-controls="new-offer-modal">
                      <i class="fas fa-fw fa-gavel"></i> New request
                    </a>
                  </th>
                </tr>
              </tfoot>
            </table>

          </div>
          <nav aria-label="Projects navigation">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">
                    <i class="fas fa-fw fa-caret-left"></i>
                  </span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item disabled"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">
                    <i class="fas fa-fw fa-caret-right"></i>
                  </span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <!-- Buy modal -->
      <div class="modal fade" id="buy-modal" tabindex="-1" role="dialog" aria-labelledby="buy-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="buy-modal-title">Buy tokens</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-fw fa-times"></i></span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group row">
                  <label class="col-sm-7" for="number-of-tokens">
                    Number of tokens
                  </label>
                  <div class="col-sm-5">
                    <div class="input-group">
                      <input type="number" class="form-control" id="number-of-tokens" placeholder="Tokens" min="1" step="1"
                        required>
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="fas fa-fw fa-coins"></i>
                        </span>
                      </div>
                    </div>
                    <div class="invalid-feedback">
                      Please provide the number of tokens to buy.
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-7" for="value-of-tokens">
                    Total
                  </label>
                  <div class="col-sm-5">
                    <div class="input-group">
                      <input type="text" class="form-control" id="value-of-tokens" placeholder="Total" disabled>
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="fas fa-fw fa-money-bill"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12 text-right">
                    <button type="submit" class="btn"><i class="fas fa-fw fa-shopping-cart"></i> Buy</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- New offer modal -->
      <div class="modal fade" id="new-offer-modal" tabindex="-1" role="dialog" aria-labelledby="new-offer-modal-title"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="new-offer-modal-title">Sell tokens</h5>
              <button #sellModalCloseButton type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-fw fa-times"></i></span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="sellForm" (ngSubmit)="submitSellForm()" [ngClass]="{'submitted': sellFormSubmitted}">
                <div class="form-group row">
                  <label class="col-sm-7" for="number-of-tokens-to-sell">
                    Number of tokens to sell
                  </label>
                  <div class="col-sm-5">
                    <div class="input-group">
                      <input type="number" class="form-control" id="number-of-tokens-to-sell" placeholder="Tokens" min="1"
                        step="1" formControlName="number_of_tokens" [ngClass]="{ 'is-invalid': submitted && sellForm.get('number_of_tokens').errors }">
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="fas fa-fw fa-coins"></i>
                        </span>
                      </div>
                    </div>
                    <div class="invalid-feedback" *ngIf="sellForm.get('number_of_tokens').errors">
                      Please provide the number of tokens to sell.
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-7" for="number-of-tokens-to-sell">
                    Price per token
                  </label>
                  <div class="col-sm-5">
                    <div class="input-group">
                      <input type="number" class="form-control" id="price-per-token" placeholder="Tokens" min="1" step="1"
                        formControlName="sell_price_per_token" [ngClass]="{ 'is-invalid': submitted && sellForm.get('sell_price_per_token').errors }">
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="fas fa-fw fa-money-bill"></i>
                        </span>
                      </div>
                    </div>
                    <div class="invalid-feedback" *ngIf="sellForm.get('sell_price_per_token').errors">
                      Please provide the price per token.
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-12 text-right">
                    <button type="submit" class="btn"><i class="fas fa-fw fa-gavel"></i> Sell</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consequatur, consequuntur deserunt
          dignissimos doloribus et impedit nesciunt odio perspiciatis praesentium quo temporibus veniam veritatis. Eius
          quo, reprehenderit! Aliquid, in, voluptate.
        </p>
      </div>
      <div class="col-12 col-md-4">
        <p class="text-right footer-links">
          <a href="#">Terms of use</a>
          <a href="#">Privacy policy</a>
        </p>
        <p class="text-right">
          &copy; 2018 All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>