<aside class="sidebar col-12">
  <h3>Sidebar</h3>
  <nav class="sidebar-nav">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/auctions']" [routerLinkActive]="['active']">
          <i class="fas fa-fw fa-gavel"></i> Auctions
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/repositories']" [routerLinkActive]="['active']">
          <i class="fab fa-fw fa-github"></i> Manage repositories
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/users']" [routerLinkActive]="['active']">
          <i class="fas fa-fw fa-user"></i> Manage users
        </a>
      </li>
    </ul>
  </nav>
</aside>