<header class="container-fluid page-header">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">
          {{title}}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-navigation"
                aria-controls="header-navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="header-navigation">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Log out</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>

<main class="container-fluid page-main-content">
  <div class="row align-items-stretch">
    <aside class="sidebar col-md-4 col-lg-2">
      <h3>Sidebar</h3>
      <nav class="sidebar-nav">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/auctions']" [routerLinkActive]="['active']">
              <i class="fas fa-fw fa-gavel"></i> Auctions
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/repositories']" [routerLinkActive]="['active']">
              <i class="fab fa-fw fa-github"></i> Manage repositories
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-fw fa-user"></i> Manage users
            </a>
          </li>
        </ul>
      </nav>
    </aside>
    <div class="col-12 col-md-8 col-lg-10">
      <h1 class="title">
        Add repository
      </h1>
      <form>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-2" for="project-value">
                Project value
              </label>
              <div class="col-sm-10">
                <div class="input-group">
                  <input type="number" class="form-control" id="project-value" placeholder="Value" min="1" step="1"
                         required>
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="fas fa-fw fa-coins"></i>
                    </span>
                  </div>
                </div>
                <div class="invalid-feedback">
                  Please provide the project value.
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-2" for="git-name">
                Git name
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="git-name" placeholder="Repository name" required>
                <div class="invalid-feedback">
                  Git name is required
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-2" for="git-address">
                Git address
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="git-address" placeholder="Repository Git URL" required>
                <div class="invalid-feedback">
                  Please provide a valid Git URL
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-2" for="description">
                Description
              </label>
              <div class="col-sm-10">
                <textarea class="form-control" id="description" placeholder="Provide a description for the project"
                          required></textarea>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <div class="col">
                <a class="btn btn-block btn-outline-light">
                  <i class="fab fa-fw fa-github"></i> Go to GitHub
                </a>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2" for="status-active">
                Status
              </label>
              <div class="col-sm-10">
                <div class="custom-control custom-radio">
                  <input type="radio" id="status-active" name="status" class="custom-control-input" value="active">
                  <label class="custom-control-label" for="status-active">Active</label>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio" id="status-inactive" name="status" class="custom-control-input" value="inactive">
                  <label class="custom-control-label" for="status-inactive">Inactive</label>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-10 offset-sm-2">
                <a [routerLink]="['/repositories']" class="btn btn-light">
                  <i class="fas fa-fw fa-undo-alt"></i>
                  Return
                </a>
                <button type="submit" class="btn btn-success">
                  <i class="fas fa-fw fa-save"></i>
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consequatur, consequuntur deserunt
          dignissimos doloribus et impedit nesciunt odio perspiciatis praesentium quo temporibus veniam veritatis. Eius
          quo, reprehenderit! Aliquid, in, voluptate.
        </p>
      </div>
      <div class="col-12 col-md-4">
        <p class="text-right footer-links">
          <a href="#">Terms of use</a>
          <a href="#">Privacy policy</a>
        </p>
        <p class="text-right">
          &copy; 2018 All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
